<div class="mb-3">
  <ul class="mb-0">
    <% times.slice(0, 5).forEach((time) => { %>
      <li><%= time.toLocaleString(this.luxon.DateTime.DATETIME_SHORT) %></li>
    <% }) %>
  </ul>

  <% uniq = this.lodash.uniqueId('times') %>
  <% if(times.length > 5) { %>
    <div id="<%= uniq %>-toggle"><a href="#" onclick="document.getElementById('<%= uniq %>').style.display = 'block'; document.getElementById('<%= uniq %>-toggle').style.display = 'none'; return false;">View <%= times.length - 5 %> other appointment times</a></div>

    <ul class="mb-0" id="<%= uniq %>" style="display: none;">
      <% times.slice(5).forEach((time) => { %>
        <li><%= time.toLocaleString(this.luxon.DateTime.DATETIME_SHORT) %></li>
      <% }) %>
    </ul>
  <% } %>
</div>
