<% lastFetched = new Date(store.appointments_last_fetched) %>
<div class="card mb-4">
  <h5 class="card-header"><%= store.name %> - <%= store.address %>, <%= store.city %>, <%= store.state %>,
    <%= store.postal_code %></h5>
  <div class="card-body">
    <% if(store.appointments_available) { %>
    <div class="text-success fs-2">
      <i class="fas fa-check-circle"></i>
      <span class="fs-5">Appointments available as of
        <%- include('/localTime', { time: lastFetched, timeZone: store.time_zone }) %></span>
    </div>
    <div class="mb-3">
      <ul class="mb-0">
        <li>View available appointment times on the Rite Aid website.</li>
      </ul>
    </div>
    <a href="https://vaccine.heb.com/scheduler" class="btn btn-primary" target="_blank">Visit H-E-B Pharmacy Website <i class="fas fa-arrow-alt-circle-right"></i></a>
    <% } else { %>
    <div>
      <i class="fas fa-times-circle"></i>
      No appointments available as of last check
    </div>
    <% } %>
    <p class="card-text text-secondary mt-2"><small>Last checked
        <%- include('/localTime', { time: lastFetched, timeZone: store.time_zone }) %></small></p>
  </div>
</div>
