<% lastFetched = (new Date(store.appointments_last_fetched)).toLocaleDateString('en-US', { dateStyle: 'long', timeStyle: 'long', timeZone: 'America/Denver' }) %>
<div class="card mb-4">
  <h5 class="card-header"><%= store.name %> - <%= store.address %>, <%= store.city %>, <%= store.state %> <%= store.postal_code %></h5>
  <div class="card-body">
    <% if(store.appointments_available) { %>
      <div class="text-success fs-2">
        <i class="fas fa-check-circle"></i>
        <span class="fs-5">Appointments available as of <%= lastFetched %></span>
      </div>
      <%
        times = store.appointments.map((t) => {
          const time = {
            time: this.luxon.DateTime.fromISO(t.time, { setZone: true }),
          };
          switch(t.type) {
            case 'both_doses':
              time.type = 'First Dose';
              break;
            case 'second_dose_moderna':
              time.type = 'Second Dose Only - Moderna';
              break;
            case 'second_dose_pfizer':
              time.type = 'Second Dose Only - Pfizer';
              break;
            default:
              time.type = t.type;
              break;
          }
          return time;
        });
      %>
      <%- include('./appointmentTimes', { times }) %>
      <a href="https://www.walgreens.com/findcare/vaccination/covid-19/location-screening" class="btn btn-primary" target="_blank">Visit Walgreens Website <i class="fas fa-arrow-alt-circle-right"></i></a>
    <% } else { %>
      <div>
        <i class="fas fa-times-circle"></i>
        No appointments available as of last check
      </div>
    <% } %>
    <p class="card-text text-secondary mt-2"><small>Last checked <%= lastFetched %></small></p>
  </div>
</div>
