<% lastFetched = (new Date(store.lastFetched)).toLocaleDateString('en-US', { dateStyle: 'long', timeStyle: 'long', timeZone: 'America/Denver' }) %>
<div class="card mb-4">
  <h5 class="card-header"><%= store.store.address.street %>, <%= store.store.address.city %>, <%= store.store.address.state %> <%= store.store.address.zip %></h5>
  <div class="card-body">
    <% if(store.availability.appointmentsAvailable) { %>
      <div class="text-success fs-2">
        <i class="fas fa-check-circle"></i>
        <span class="fs-5">Appointments available as of <%= lastFetched %></span>
      </div>
      <div class="mb-3">
        <ul class="mb-0">
          <li>
            <p class="mb-2">View available appointment times on the Walgreens website.</p>
            <p><em>Note:</em> While Walgreens reports having openings at this location, Walgreens may only have appointments for a single dose, not the required two doses. So you may or may not be able to actually book an appointment at this location. I'm trying to see if this can be improved, but in the meantime, you will still need to check Walgreens directly to see what specific appointments are available at this store.</p>
          </li>
        </ul>
      </div>
      <a href="https://www.walgreens.com/findcare/vaccination/covid-19/location-screening" class="btn btn-primary" target="_blank">Visit Walgreens Website <i class="fas fa-arrow-alt-circle-right"></i></a>
    <% } else { %>
      <div>
        <i class="fas fa-times-circle"></i>
        No appointments available as of last check
      </div>
    <% } %>
    <p class="card-text text-secondary mt-2"><small>Last checked <%= lastFetched %></small></p>
  </div>
</div>
