---
title: Colorado COVID-19 Vaccine Finder
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49484378-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49484378-1');
    </script>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>

      <h2>Visit Colorado.gov</h2>
      <p class="fs-4">Be sure to visit Colorado's official <a href="https://covid19.colorado.gov/for-coloradans/vaccine/where-can-i-get-vaccinated"><strong>find out where you can get vaccinated</strong></a> page for detailed and up to date information.</p>

      <h2>Tool Status</h2>
      <ul>
        <li><strong>CVS:</strong> Last checked <%= (new Date(this.lodash.orderBy(cvs, ['lastFetched'], ['desc'])[0].lastFetched)).toLocaleDateString('en-US', { dateStyle: 'long', timeStyle: 'long', timeZone: 'America/Denver' }) %>. Checking <%= cvs.length %> <%= (cvs.length === 1) ? 'city' : 'cities' %>.</li>
        <li><strong>Safeway, Albertsons:</strong> Last checked <%= (new Date(this.lodash.orderBy(albertsons, ['lastFetched'], ['desc'])[0].lastFetched)).toLocaleDateString('en-US', { dateStyle: 'long', timeStyle: 'long', timeZone: 'America/Denver' }) %>. Checking <%= albertsons.length %> <%= (albertsons.length === 1) ? 'store' : 'stores' %>.</li>
        <li><strong>King Soopers, City Market, Dillons, Smith's:</strong> Broken (tool is being blocked from accessing Kroger's website).</li>
        <li><strong>Walmart, Sam's Club:</strong> Not yet checking.</li>
        <li><strong>Walgreens:</strong> Not yet checking.</li>
      </ul>

      <h2>CVS Appointment Status</h2>
      <% this.lodash.orderBy(cvs, [(o) => parseInt(o.totalAvailable, 10), 'city'], ['desc', 'asc']).forEach((store) => { %>
        <% lastFetched = (new Date(store.lastFetched)).toLocaleDateString('en-US', { dateStyle: 'long', timeStyle: 'long', timeZone: 'America/Denver' }) %>
        <div class="card mb-4">
          <h5 class="card-header"><%= store.city %></h5>
          <div class="card-body">
            <% if(parseInt(store.totalAvailable, 10) > 0) { %>
              <div class="text-success fs-2">
                <i class="fas fa-check-circle"></i>
                <span class="fs-5">Appointments available as of <%= lastFetched %></span>
              </div>
              <% store.events.forEach((event) => { %>
                <div><%= event.date %> <%= event.startTime %></div>
              <% }) %>
              <a href="https://www.cvs.com/immunizations/covid-19-vaccine" class="btn btn-primary">Visit CVS Website</a>
            <% } else { %>
              <div>
                <i class="fas fa-times-circle"></i>
                No appointments available as of last check
              </div>
            <% } %>
            <p class="card-text text-secondary mt-2"><small>Last checked <%= lastFetched %></small></p>
          </div>
        </div>
      <% }) %>

      <h2>Safeway, Albertsons Appointment Status</h2>
      <% this.lodash.orderBy(albertsons, [(o) => o.events.length, 'name'], ['desc', 'asc']).forEach((store) => { %>
        <% lastFetched = (new Date(store.lastFetched)).toLocaleDateString('en-US', { dateStyle: 'long', timeStyle: 'long', timeZone: 'America/Denver' }) %>
        <div class="card mb-4">
          <h5 class="card-header"><%= store.name %></h5>
          <div class="card-body">
            <% if(store.events.length > 0) { %>
              <div class="text-success fs-2">
                <i class="fas fa-check-circle"></i>
                <span class="fs-5">Appointments available as of <%= lastFetched %></span>
              </div>
              <% store.events.forEach((event) => { %>
                <div><%= event.date %> <%= event.startTime %></div>
              <% }) %>
              <a href="https://www.safeway.com/pharmacy/covid-19.html" class="btn btn-primary">Visit Safeway Website</a>
            <% } else { %>
              <div>
                <i class="fas fa-times-circle"></i>
                No appointments available as of last check
              </div>
            <% } %>
            <p class="card-text text-secondary mt-2"><small>Last checked <%= lastFetched %></small></p>
          </div>
        </div>
      <% }) %>
    </div>
  </body>
</html>
